<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" href="{{ main_css_file_path }}styles.css">
</head>
<body {% block bodytheme %}class="theme-night"{% endblock %}> <!-- Установите тему по умолчанию -->
{% block header %}<h1>ПРИВЕТ ДРУГ, КАК ДЕЛА? <br><br> НЕ ЛЕНИСЬ!</h1>{% endblock %}
{% block auth %}
{% endblock %}
{% block main %}
<h1>{{ user }}</h1>
{% endblock %}
</body>
<script {% block script %} src="{{ main_js_file_path }}mainPage.js" type="text/javascript" {% endblock %}></script>
</html>