<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/FileManager/static/css/styles.css">
        {% block extraStyles %}{% endblock %}
    </head>
    <body {% block bodytheme %}{% endblock %} >
        <header>{% block header %}{% endblock %}</header>
        <div class="auth">{% block auth %}{% endblock %}</div>

        <main>{% block filters %}{% endblock %}{% block staff_container %}{% endblock %}</main>

        <footer>{% block footer %}{% endblock %}</footer>
    </body>

    <script src="/FileManager/static/js/mainPage.js" type="text/javascript"></script>
    {% block extraJS %} {% endblock %}

</html>